<form nz-form [formGroup]="rfDataModal" nzLayout="horizontal">
  <nz-form-item>
    <nz-form-label>Họ tên</nz-form-label>
    <nz-form-control nzErrorTip="Giá trị bắt buộc!">
      <input nz-input formControlName="hoTen"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nzFlex>
    <nz-form-control [nzSm]="24">
      <nz-table nzSize="small" nzTemplateMode>
        <thead>
        <tr>
          <th width="80px">STT</th>
          <th width="40%">Dịch vụ</th>
          <th width="20%">Đơn giá</th>
          <th width="20%">Số lượng</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let contr of dicVus.controls; index as i">
          <tr [formGroup]="contr">
            <td>{{i + 1}}
              <button nz-button nzType="danger" title="Xóa" (click)="removeDichVu(i)">
              Xóa
              </button>
            </td>
            <td>
              <nz-form-item>
                <nz-form-control nzErrorTip="Giá trị bắt buộc!">
                  <input nz-input formControlName="tenDichVu"/>
                </nz-form-control>
              </nz-form-item>
            </td>
            <td>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input formControlName="donGia" readonly>
                </nz-form-control>
              </nz-form-item>
            </td>
            <td>
              <nz-form-item>
                <nz-form-control nzErrorTip="Giá trị bắt buộc!">
                  <nz-input-number formControlName="soLuong" style="width:100%"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
    </nz-form-control>
  </nz-form-item>
  <button nz-button nzType="primary" (click)="addDichVu()">Thêm DV DV</button>
  <button nz-button nzType="primary" (click)="save()">Lưu</button>
</form>


<pre>
  {{rfDataModal.value|json}}
</pre>
<pre>
  {{dicVus.valid|json}}
</pre>
